

.dashed_line{
	border: dashed 1px #e7fbfe;
	
}

.container{
	min-width: 994px;
	width: 100%;
	font-family: "微软雅黑","SimSun","宋体","Arial Narrow", Arial, Helvetica, sans-serif;
	
	font-weight: normal;
	color: #333;
	margin: 0px;
	padding: 0;
}

.content_body{
	width: 994px;
	margin: 0px auto 0px auto;
	padding: 21px 0px 0px 0px;
}

.global_top_header {
	font-family: "微软雅黑","SimSun","宋体","Arial Narrow", Arial, Helvetica, sans-serif;
	/*overflow: hidden;*/
	font-size: 16px;
	
	background-color: #FFF;
	width: auto;
}

.global_top_header .inner_wrapper{
	height: 60px;
	line-height: 60px;
	width: 994px;
	margin: auto;
	text-align: left;
	
}

.logodiv{
	display: inline-block;
	width: 211px;
	height: 51px;
	background: url(images/logo.png) gray no-repeat;
	vertical-align:middle;
	border: none;
	margin-top: -4px;
}

.header_line{
	border: solid 1px #eeeeee;
	margin: 4px 0px 0px 0px;
}

.nav_link {
	
	font-size: 16px;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.nav_link_selected{
	color: #2f86d9;
}

.global_top_header .nav_link{
	color: #666;
	margin-left: 37px;
}

.nav_link:hover{
	color: #2f86d9;
	text-decoration: none;
}




.P1 {
	
	font-size: 21px;
	color: #666;
	font-weight: bold;
	padding-bottom: 0px;

}

.btn_login{
	margin: 0px 0px;
	background: #0071bc;
	color: #FFFFFF;
	border-radius: 3px;
	padding: 6px 40px;
}



.global_footer{
	
	text-align: center;
	
}

.footer_line{
	width: 994px;
	margin: 60px auto 0px auto;
	height: 11px;	
	background: url(images/footer_line.png);
}



.footer_body{
	margin-top: 33px;
	color: #929191;
}

.normal_link{
	text-decoration: none;
	color: #2f86d9;
	font-size: 14px;
	
	margin: 0px 10px;
}

.footer_body a{
	font-size: 13px;
	font-weight: normal;
}

.footer_bottom{
	color: #929191;
	font-size: 13px;
	margin-top: 30px;
	margin-bottom:  30px;
	font-weight: normal;
	font-family: "Arial Unicode MS";
}

.btn_normal{
	padding: 3px 25px;
	background: #f0f1f2; 
	border: solid #cbcbcb 1px;
	text-decoration: none;
	color: #333;
	cursor: pointer;
	display: inline-block;
}

.btn_normal:link,.btn_normal:visited{
	color: #333;
}

.btn_radius{
	border-radius: 2px;
}

.btn_normal:hover{
	background: #dedede;
	text-decoration: none;
}



.readonly{
	background: #f0f1f3;
}

/*下拉菜单*/
.dropdown-menu{
	float: none;
	position: relative;
}

/*蓝色按钮*/
.btn_blue{
	
	display: inline-block;
	height: 25px;
	line-height: 25px;
	width: 52px;
	color: #2f86d9;
	background: transparent;
	border: solid #2F86D9 1px;
 	margin-left: 20px;
 	padding: 0;
 	text-align: center;
 	box-sizing: content-box;
 	cursor: pointer;
}

.btn_blue:hover{
	text-decoration: none;
}


/*带蓝色辉光的按钮 */
.btn_halo_blue{
	outline:none;
 	box-shadow:0 0 8px 2px rgba(135,188,223,.5);
 	-moz-box-shadow:0 0 8px 2px rgba(135,188,223,.5);
 	-webkit-box-shadow:0 0 8px 1px rgba(135,188,223,5);
}

