<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>openAPI主页</title>
		
		<!--
        	外部类库 jquery and bootStrape
        -->
		<script type="text/javascript" src="../../scripts/lib/jquery/jquery-1.11.3.js" ></script>
		<script src="../../scripts/lib/bootstrap-3.3.4-dist/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../../scripts/lib/bootstrap-3.3.4-dist/css/bootstrap.css"/>
		
		<!--
        	本项目类库
        -->
        <link rel="stylesheet" type="text/css" href="../../styles/base/sina_init.css"/>
		<link rel="stylesheet" type="text/css" href="../../styles/base/common.css"/>
		<link rel="stylesheet" type="text/css" href="index.css"/>
		
		<script type="text/javascript">
//			$(function (){
//				$('#user_name').hover(function() {
//				  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
//				}, function() {
//				  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
//				});
//			})
		</script>
		
		
	</head>

	<body >
	  <div style="background: #f3f5f5;" class="container">
			<div class="global_top_header">
				<div class="inner_wrapper">
				    <a href="/" class="logodiv">
				    	
				    </a>
					
				    <a class="nav_link" style="margin-left: 58px; padding-left: 0px;" href="#index">首页</a>
				    <a class="nav_link" href="#document">文档中心</a>
				    <a class="nav_link" href="#api">API中心</a>
				    <a class="nav_link" href="#support">支持中心</a>
				    <a class="nav_link " href="appList.html">应用中心</a>
				    <div id="user_name" style="margin-top: 20px; line-height: 25px; text-align:right; float: right; font-size: 14px">
				    	<span style="height: 23px; " class="dropdown-toggle" data-toggle="dropdown"  href="#sign_up">
				    		wangzhuoa
				    		<b class="caret"></b>
			    			
				    	</span>
				    	
			           <ul class="dropdown-menu" style=" display: block; min-width: 0;" >
				            <li><a href="#">注销</a></li>
				            
			           </ul>
			           <!--<a class="btn_blue btn_radius" >注册</a>
	    			   <a class="btn_blue btn_radius" >登录</a>-->
				    </div>
			        
			        
				</div>
				<div class="header_line">
					
				</div>
				
			</div>
			<div id="banner" >
					
			</div>
			<div class="notice_board" >
				<div style="width: 994px; margin: auto;" >
					<div id="left" style="float: left; width: 930px; overflow: hidden; height: 44px;">
						<img src="../../styles/base/images/notice.png"  /> 
						公告 ：<span class="dott"></span>
						<a class="notice_link" href="">用友优普开放平台正式开放了！</a> 
						<img src="../../styles/base/images/new.png"/>
						<span class="dott"> </span>
						<a class="notice_link" href="">用友优普开放平台正式开放了！</a> 
						<img src="../../styles/base/images/new.png"/>
						<span class="dott"> </span>
						<a class="notice_link" href="">用友优普开放平台正式开放了！</a> 
						<img src="../../styles/base/images/new.png"/>
						<span class="dott"></span>
						<a class="notice_link" href="">用友优普开放平台正式开放了！</a> 
						<img src="../../styles/base/images/new.png"/>
						<span class="dott"></span>
						<a class="notice_link" href="">ddd！</a> 
						<img src="../../styles/base/images/new.png"/>
						
					</div>
					<div id="right" style="float: right;">
						<span class="plianjie"><a href="#" target="new">查看更多</a></span>
					</div>
					
				</div>
					
			</div>
			<div class="content_body" >
				<div class="modules" >
					<a class="opa_module opa_module_1" href="#" >
						
					</a>
					<a class="opa_module opa_module_2" href="#">
						
					</a>
					<a class="opa_module opa_module_3" href="#">
						
					</a>
					<a class="opa_module opa_module_4" href="#">
						
					</a>
				</div>	
				<div class="module_details">
					<div class="detail_item">
						<div class="detail_text_left">
							<strong style="font-size: 36px; color: #111;">平台优势</strong>
							<p class="details_p" >
								用友优普信息技术有限公司是用友软件股份有限公司的全资子公司，
								专注于为中型、中大型企业客户提供软件
								（U8+、U9、PLM、CRM）、行业解决方案以及企业云
								服务等全面解决方案，帮助企业在互联网、移动时代继续拥有和不断提升管理及运营优势，成就“数据驱动的企业”。
							</p>
							<a class="btn_check_detail">立即查看</a>
						</div>
						<div class="detail_img_right">
							<img src="../../styles/base/images/detail1.jpg" />
						</div>
						<div style="text-align: center;">
							<img src="../../styles/base/images/line.jpg"/>
						</div>
					</div>
					<div class="detail_item">
						<div class="detail_img_left">
							<img src="../../styles/base/images/detail2.jpg" />
						</div>
						<div class="detail_text_right">
							<strong style="font-size: 36px; color: #111;">API接口</strong>
							<p class="details_p" >
								用友优普开放平台开放了包括基础档案、凭证、存货、采购等
								相关业务的几十个接口。开发者可以通过这些接口对U8、U9两
								大ERP系统进行关联。
								API的开放版图在持续扩大中
							</p>
							<a class="btn_check_detail">立即查看</a>
						</div>
						
						<div style="text-align: center;">
							<img src="../../styles/base/images/line.jpg"/>
						</div>
					</div>
					<div class="detail_item">
						<div class="detail_text_left">
							<strong style="font-size: 36px; color: #111;">成功案例</strong>
							<p class="details_p" >
								用友优普开放平台欢迎广大开发者的加入。 加入我们，为U8+600,000 家成长型企业、5000 家极具创新力企业提供服务。 加入我们，为U9的广大离散制造企业提供服务。
							</p>
							<a class="btn_check_detail">立即查看</a>
						</div>
						<div class="detail_img_right">
							<img src="../../styles/base/images/detail3.jpg" />
						</div>
						<div style="text-align: center;">
							<img src="../../styles/base/images/line.jpg"/>
						</div>
					</div>
					<div class="detail_item" style="height: auto; padding-bottom: 40px; ">
						<div id="" style="margin: 80px auto; position: relative; width: 700px;" >
							<img style="position: absolute; left: 250px ;top:36px" src="plat_logo.png"/>
							<strong style="font-size: 36px; color: #0062b1;">无生态、不平台</strong>	
							<div style="margin-left: 45px; color: #666; font-size: 23px;">
								企业互联网生态平台
							</div>
							<div style="margin-top: 316px; color: #666; font-size: 20px;">
								实现企业梦想的平台
							</div>
							<div style=" color: #666; font-size: 23px;">
								<a href="http://open.yonyouup.com">Open.yonyouup.com</a>
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
			
			<div class="global_footer">
				
				<div class="footer_line">
					
				</div>
				<div class="footer_body">
					<a class="normal_link" href="#about">关于用友优普开放平台</a>
					丨       
					<a class="normal_link" href="#about">联系我们</a>
					丨        
		        	<a class="normal_link" href="#about">平台服务协议</a>
		        	丨
			        <a class="normal_link" href="#about"> 用友优普</a>        
				</div>
				<div class="footer_bottom">
					用友优普信息技术有限公司 © yonyou up information technology Co., Ltd.
				</div>
		</div>
		</div>
	
		
	  
	  
	</body>
</html>

 