@charset "utf-8";
.logo {
	text-align: left;
	float: right;
	position: absolute;
	left:123px;
}
.top{
	background-image: url(img/top.jpg);
	height: 88px;
}
.kongzhianniu {
	text-align: right;
	/* [disabled]margin-top: 15px; */
	margin-right: 21px;
	padding-top: 15px;
}
.sidebar {
	background-color: #eeeeee;
	width: 163px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999;
	border-right-color: #999;
	border-bottom-color: #999;
	border-left-color: #999;
	height: 1045px;
	font-family: Arial, Helvetica, sans-serif;
}
ul { 
list-style: none; 
margin: 0; 
padding: 0; 
padding-top:10px

} 

#menu3 li a:hover, #menu3 li a:active { 
color: #ffffff; 
background: url(/upload/2010-3/20100303231637519.png) 
padding: 8px 0 0 30px; 
} 
#menu3 {
	width: 160px;
	margin: 0px;
} 
#menu3 li a { 
height: 32px; 
voice-family: "\"}\""; 
voice-family: inherit; 
height: 24px; 
text-decoration: none; 
} 
#menu3 li a:link, #menu3 li a:visited {
	color: #666;
	display: block;
	background: url(/upload/2010-3/20100303231545473.gif);
	margin-left: 15px;
